.home-hero {
  padding: 75px 0;
  background-image: url("./../images/home-hero/new_bg.webp");
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative;
}
.home-hero .hero-flex-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.home-hero .hero-flex-item h1 {
  font-size: 56px;
  color: #fff;
  font-weight: 900;
  line-height: 1.1;
  font-size: 66px;
  max-width: 550px;
}
.home-hero .hero-flex-item h1 span {
  position: relative;
}
.home-hero .hero-flex-item h1 span::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 105%;
  height: 20px;
  background-image: url("./../images/home-hero/underline.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-hero .find-car {
  color: #fff;
  font-weight: 700;
  font-size: 28px;
  margin-top: 40px;
}
.home-hero .find-car span {
  position: relative;
}
.home-hero .find-car span::after {
  content: "";
  position: absolute;
  right: -73px;
  top: -37px;
  width: 103px;
  height: 105px;
  background-image: url("./../images/home-hero/find-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-hero .search-form {
  padding: 12px 12px;
  background: #fff;
  position: relative;
  margin-top: 20px;
  z-index: 1;
}
.home-hero .form-select {
  cursor: pointer;
  height: 57px;
  border-radius: 2px;
  border: 1px solid #2a5889;
  border-radius: 4px;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  box-shadow: none;
}
.home-hero .col-lg-2 {
  padding: 0 4px;
}
.home-hero .btn {
  background: #04c662;
  border: 1px solid #04c662;
  border-radius: 3px;
  color: #fff;
  height: 57px;
  display: flex;
  font-size: 15px;
  letter-spacing: -0.25px;
  font-weight: bold;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  transition: all linear 0.3s;
  white-space: nowrap;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  z-index: 1;
  width: 100%;
}
.home-hero .btn::after {
  background: #039e4e;
  content: "";
  position: absolute;
  top: 0;
  left: -120%;
  width: 100%;
  height: 100%;
  transition: all linear 0.3s;
  transform: skewX(15deg);
  z-index: -1;
}
.home-hero .btn:hover::after {
  left: 0%;
  transition: all linear 0.3s;
  transform: skewX(0deg);
}
.home-hero .btn-padding {
  padding: 0 4px;
}
.home-hero .adv-link {
  line-height: 1.1;
  font-weight: 700;
  color: #fff;
  text-align: left !important;
  font-size: 14px;
  margin-top: 20px;
}
.home-hero .overlay-img img {
  position: absolute;
  right: -8rem;
  top: 67%;
  transform: translateY(-50%);
  z-index: 0;
}

/* all-product */
.all-product .product-flex-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.all-product .product-flex-item .section-title {
  margin-bottom: 0;
}
.all-product .swiper-slide {
  padding-bottom: 30px;
  padding-top: 30px;
}

/* home-explore */
.home-explore {
  background: #f2f9ff;
}
.home-explore .brand-flex-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 16px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 2px 14px rgba(206, 206, 206, 0.5);
  box-shadow: 1px 2px 14px rgba(206, 206, 206, 0.5);
  text-decoration: none !important;
  background: #fff;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}
.home-explore .brand-flex-item .img-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-explore .brand-flex-item .img {
  max-width: 100px;
}
.home-explore .brand-flex-item .title {
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  color: #252525;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.home-explore .brand-flex-item .icon i {
  color: #252525;
}

/* home-trusted */
.home-trusted.trusted-by .section-title {
  text-align: left;
  margin-left: 0;
}
.home-trusted.trusted-by .section-title span {
  position: relative;
}
.home-trusted.trusted-by .section-title span::after {
  content: "";
  display: block;
  width: 100%;
  background: url("./../images/home-trusted/singleline.svg");
  height: 12px;
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
}

/* dream-car */
.dream-car {
  background: #f2f9ff url("./../images/dream-car/dottedcurveline.svg") 0 285px
    no-repeat;
  background-size: contain;
  overflow: hidden;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.dream-car .section-title {
  font-size: 40px;
  font-weight: 800;
  line-height: 115%;
  margin-bottom: 30px;
}
.dream-car .swiper-slide .dream-car-slider-item {
  background: #fff;
}
.dream-car .swiper-slide .dream-car-slider-item .img img {
  width: 100%;
  height: 100%;
}
.dream-car .swiper-slide .dream-car-slider-item .content {
  padding-left: 1rem;
  padding-right: 1rem;
}
.dream-car .swiper-slide .dream-car-slider-item .content h5 {
  font-weight: 600;
  font-size: 18px;
}
.dream-car .swiper-slide .dream-car-slider-item .content p {
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 20px;
}
.dream-car small {
  font-size: 80%;
  font-weight: 400;
  opacity: 0.75;
}

/* hassle-free */
.hassle-free {
  padding: 40px 0;
  overflow: hidden;
}
.hassle-free .hassle-free-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.hassle-free .hassle-free-flex h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 115%;
  color: #252525;
}
.hassle-free .hassle-free-flex h1 span {
  position: relative;
}
.hassle-free .hassle-free-flex h1 span::after {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 0;
  width: 100%;
  height: 50px;
  background: url("./../images/singleline.svg") no-repeat center center;
}
.hassle-free .hassle-free-flex a {
  font-weight: 500;
  font-size: 17px;
}
.hassle-free .img {
  margin-bottom: 30px;
}
.hassle-free .img img {
  width: 100%;
  height: 100%;
}
.hassle-free .content h4 {
  font-weight: 800;
  font-size: 22px;
  color: #212529;
}
.hassle-free .content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

/* finance */
.finance {
  background: #f2f9ff;
  padding: 40px 0;
  overflow: hidden;
}
.finance .section-title {
  font-size: 40px;
  font-weight: 800;
  line-height: 115%;
  max-width: 400px;
  margin-bottom: 30px;
}
.finance p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  margin-bottom: 30px;
}
.finance ul {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.finance ul li {
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.finance ul li i{
  color: #2958EB;
  margin-right: 20px;
}
.finance a {
  background: #04c662;
  border: 1px solid #04c662;
  border-radius: 3px;
  color: #fff;
  height: 57px;
  display: flex;
  font-size: 15px;
  letter-spacing: -0.25px;
  font-weight: bold;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  transition: all linear 0.3s;
  white-space: nowrap;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  z-index: 1;
  max-width: 200px;
}
.finance a:hover{
  color: #fff;
}
.finance a::after {
  background: #039e4e;
  content: "";
  position: absolute;
  top: 0;
  left: -120%;
  width: 100%;
  height: 100%;
  transition: all linear 0.3s;
  transform: skewX(15deg);
  z-index: -1;
}
.finance a:hover::after {
  left: 0%;
  transition: all linear 0.3s;
  transform: skewX(0deg);
}
.finance .img img{
  width: 100%;
  height: 100%;
}
.finance {
}
.finance {
}

/* responsive*/
@media screen and (min-width: 992px) {
}
@media screen and (max-width: 991px) {
  .home-hero .hero-flex-item h1 {
    font-size: 56px;
  }
  .home-hero .find-car {
    z-index: 1;
    position: relative;
  }
  .home-hero .adv-link {
    z-index: 1;
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .home-hero {
    padding: 40px 0;
  }
}
@media screen and (max-width: 600px) {
  .home-hero .hero-flex-item h1 {
    font-size: 40px;
  }
  .home-hero .find-car {
    font-size: 22px;
  }
  .home-hero .hero-flex-item h1 span::after {
    bottom: -17px;
  }
  .home-hero .adv-link {
    text-align: center !important;
  }
}
